{% extends 'base.html' %}
{% load crispy_forms_tags %} <!-- We use crispy forms library (pip install django-crispy-forms -->

{% block title %}
<title>Login - Taskmate</title>
{% endblock title %}

{% block content %}
   <br>
   <h2>Login On TaskMate</h2>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert"> <!-- We added "alert-dismissible fade show" in class -->
            {{ message }}
            <!-- This will create an option to close the message -->
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
        </div>       
        {% endfor %}
    {% endif %}
   <form method="POST" class="mt-5 col-lg-6">
      {% csrf_token %}
      {{ form|crispy }} <!-- "form" is called from django library directly. -->
      <!-- {{ register_form.as_p }} ".as_p" Show forms in a paragraph alignment. -->
      <button type="submit" class="btn btn-primary mb-5">Login</button>
   </form>   
{% endblock content %}